
<!doctype html>
<html class="no-js" lang="en">
<head>
  
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dashboard V.1 | Kiaalap - Kiaalap Admin Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <!-- favicon
      ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Statistics/img/favicon.ico">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Statistics/css/bootstrap.min.css">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Statistics/css/font-awesome.min.css">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Statistics/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Statistics/css/owl.theme.css">
    <link rel="stylesheet" href="~/Statistics/css/owl.transitions.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Statistics/css/animate.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Statistics/css/normalize.css">
    <!-- meanmenu icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Statistics/css/meanmenu.min.css">
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Statistics/css/main.css">
    <!-- educate icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Statistics/css/educate-custon-icon.css">
    <!-- morrisjs CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Statistics/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Statistics/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Statistics/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="~/Statistics/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Statistics/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="~/Statistics/css/calendar/fullcalendar.print.min.css">
    <!-- x-editor CSS
     ============================================ -->
    <link rel="stylesheet" href="~/Statistics/css/editor/select2.css">
    <link rel="stylesheet" href="~/Statistics/css/editor/datetimepicker.css">
    <link rel="stylesheet" href="~/Statistics/css/editor/bootstrap-editable.css">
    <link rel="stylesheet" href="~/Statistics/css/editor/x-editor-style.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Statistics/css/data-table/bootstrap-table.css">
    <link rel="stylesheet" href="~/Statistics/css/data-table/bootstrap-editable.css">
    <!-- modals CSS
    ============================================ -->
    <link rel="stylesheet" href="~/Statistics/css/modals.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Statistics/style.css">

    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Statistics/css/responsive.css">
    <!-- modernizr JS
        ============================================ -->
    <script src="~/Statistics/js/vendor/modernizr-2.8.3.min.js"></script>

    @*top Div*@
  
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/animate.css">
    @*<link rel="stylesheet" href="~/css/owl.carousel.min.css">*@
    <link rel="stylesheet" href="~/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <!-- Theme Style -->
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
   
  
    <header role="banner">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand absolute" href="index.html">University</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="@Url.Action("Index","Home")">Home</a>

                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="~/blog.html">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/contact.html">Contact</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown05">
                                <a class="dropdown-item" href="@Url.Action("AdminLogin","Login")">Login</a>


                            </div>
                        </li>
                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Institute</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown05">
                                <a class="dropdown-item" href="@Url.Action("InstituteLogin","Login")">Login</a>


                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Student</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown05">
                                <a class="dropdown-item" href="@Url.Action("StudentLogin","Login")">Login</a>
                                <a class="dropdown-item" href="@Url.Action("StudentInfo","Student")">Reisteration</a>
                            </div>
                        </li>
                        @*@if (Session["S_ID"] != null)
                            {
                                <li>@Html.ActionLink("Admission Status", "AdmissionStatus","AdmissionForm")</li>

                            }*@

                    </ul>
                    <input type="submit" class="search-submit btn btn-primary" value="Universities Statistics">
                    @*<ul class="navbar-nav absolute-right">
                            <li>
                                <a href="~/login.html">Login</a> / <a href="~/register.html">Register</a>
                            </li>
                        </ul>*@

                </div>
            </div>
        </nav>
    </header>

        
            
       
    <!-- END header -->

      
           
            <!-- Mobile Menu start -->
            <div>
                @RenderBody()
            </div>
    
    


    <!-- jquery
            ============================================ -->
    <script src="~/Statistics/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->
    @*<script src="~/Statistics/js/bootstrap.min.js"></script>*@
    <!-- wow JS
        ============================================ -->
    <script src="~/Statistics/js/wow.min.js"></script>
    <!-- price-slider JS
        ============================================ -->
    <script src="~/Statistics/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="~/Statistics/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
        ============================================ -->
    <script src="~/Statistics/js/owl.carousel.min.js"></script>
    <!-- sticky JS
        ============================================ -->
    <script src="~/Statistics/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="~/Statistics/js/jquery.scrollUp.min.js"></script>
    <!-- counterup JS
        ============================================ -->
    <script src="~/Statistics/js/counterup/jquery.counterup.min.js"></script>
    <script src="~/Statistics/js/counterup/waypoints.min.js"></script>
    <script src="~/Statistics/js/counterup/counterup-active.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="~/Statistics/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Statistics/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
        ============================================ -->
    <script src="~/Statistics/js/metisMenu/metisMenu.min.js"></script>
    <script src="~/Statistics/js/metisMenu/metisMenu-active.js"></script>

    <!-- data table JS
      ============================================ -->
    <script src="~/Statistics/js/data-table/bootstrap-table.js"></script>
    <script src="~/Statistics/js/data-table/tableExport.js"></script>
    <script src="~/Statistics/js/data-table/data-table-active.js"></script>
    <script src="~/Statistics/js/data-table/bootstrap-table-editable.js"></script>
    <script src="~/Statistics/js/data-table/bootstrap-editable.js"></script>
    <script src="~/Statistics/js/data-table/bootstrap-table-resizable.js"></script>
    <script src="~/Statistics/js/data-table/colResizable-1.5.source.js"></script>
    <script src="~/Statistics/js/data-table/bootstrap-table-export.js"></script>
    <!--  editable JS
        ============================================ -->
    <script src="~/Statistics/js/editable/jquery.mockjax.js"></script>
    <script src="~/Statistics/js/editable/mock-active.js"></script>
    <script src="~/Statistics/js/editable/select2.js"></script>
    <script src="~/Statistics/js/editable/moment.min.js"></script>
    <script src="~/Statistics/js/editable/bootstrap-datetimepicker.js"></script>
    <script src="~/Statistics/js/editable/bootstrap-editable.js"></script>
    <script src="~/Statistics/js/editable/xediable-active.js"></script>
    <!-- Chart JS
        ============================================ -->
    <script src="~/Statistics/js/chart/jquery.peity.min.js"></script>
    <script src="~/Statistics/js/peity/peity-active.js"></script>
    <!-- tab JS
        ============================================ -->
    <script src="~/Statistics/js/tab.js"></script>
    <!-- morrisjs JS
        ============================================ -->
    <script src="~/Statistics/js/morrisjs/raphael-min.js"></script>
    <script src="~/Statistics/js/morrisjs/morris.js"></script>
    <script src="~/Statistics/js/morrisjs/morris-active.js"></script>
    <!-- morrisjs JS
        ============================================ -->
    <script src="~/Statistics//sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Statistics/js/sparkline/jquery.charts-sparkline.js"></script>
    <script src="~/Statistics/js/sparkline/sparkline-active.js"></script>
    <!-- calendar JS
        ============================================ -->
    <script src="~/Statistics/js/calendar/moment.min.js"></script>
    <script src="~/Statistics/js/calendar/fullcalendar.min.js"></script>
    <script src="~/Statistics/js/calendar/fullcalendar-active.js"></script>
    <!-- plugins JS
        ============================================ -->
    <script src="~/Statistics/js/plugins.js"></script>
    <!-- main JS
        ============================================ -->
    <script src="~/Statistics/js/main.js"></script>
    <!-- tawk chat JS
        ============================================ -->
    <script src="~/Statistics/js/tawk-chat.js"></script>

    @*Top div*@
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.0.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>

    <script src="~/js/jquery.magnific-popup.min.js"></script>
    @*<script src="~/js/main.js"></script>*@



    @RenderSection("scripts", required: false)
</body>
</html>
