@model IEnumerable<FYP1.Models.Institute.Institute>

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

    ViewBag.Title = "ShowInstitute";
}

<link href="~/assets/Rating/rating_simple.css" rel="stylesheet" />

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title"><b>All Institutes</b></h4>
                        <p class="category">

                        </p>
                    </div>
                    <div class="card-content">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Institute_Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Institute_RegNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Institute_EstablishYear)
                                    </th>
                                    @*<th>
                                            @Html.DisplayNameFor(model => model.InstituteType_ID)
                                        </th>*@
                                    <th>
                                        @Html.DisplayNameFor(model => model.Institute_Affilation)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>
                                    <th>
                                        Website Link
                                    </th>
                                    <th>
                                        Avg Rating
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Institute_Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Institute_RegNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Institute_EstablishYear)
                                    </td>
                                    @*<td>
                                            @Html.DisplayFor(modelItem => item.InstituteType_ID)
                                        </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Institute_Affilation)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Website_Link)
                                    </td>
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.Alumni_Rating)*@
                                        <input name="Alumni_Rating" value="@item.Alumni_Rating"  
                                               class="rating_simple2" type="hidden"  style=""/>
                                    </td>
                                    <td>
                                        @Html.ActionLink("Campuses", "CampusForStudent", "InstituteCampus", new { id = item.Institute_ID }, new { })
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/assets/Rating/jquery.js"></script>
    <script src="~/assets/Rating/rating_simple.js"></script>
    <script language="javascript" type="text/javascript">
        function test(value) {
            $("#rating_simple2").val( value);
        }
        $(function () {
            var baseUrl = "@Url.Content("~")";

            $("input[type=hidden]").each(function () {
                var input = $(this); // This is the jquery object of the input, do what you will
                $(this).webwidget_rating_simple({
                    rating_star_length: '5',
                    rating_initial_value: input.val(),//this is function name for click
                    directory: baseUrl + 'Images/'
                });
            });
            
        });
    </script>

}
