@model FYP1.Models.InstituteReview

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<div>
    <h4>InstituteReview</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Institute_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Institute_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alumni_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alumni_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alumni_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alumni_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alumni_Review)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alumni_Review)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alumni_Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alumni_Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.R_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
