@model IEnumerable<FYP1.Models.Quiz>

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@*<div class="block">
        @Html.DisplayNameFor(model => model.question)
    </div>
    @{
        int count = 1;
    }
    @foreach (var item in Model)
    {
        <div class="block">
            <span>@count  :</span>      @Html.DisplayFor(modelItem => item.question)
        </div>
        foreach (var items in item.choicess)
        {
            <div class="choices">
                       <input type="radio" name="@items.choices" class="radio-inline" />@Html.DisplayFor(m=>items.choices)
                </div>

        }

        count++;
    }*@

@{ int count = 1, countR = 0; }
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title"><b>Quiz</b></h4>
                        <p class="category"><b></b></p>
                    </div>
                    <div class="card-content">
                        <div class="Quiz">
                            @if (Model != null && Model.Any())
                            {
                                var stuid = ViewBag.data;
                                foreach (var item in Model)
                                {
                                    <div class="BlockQ" style="border: 1px solid #bdbdbd; width: 75%; border-radius: 20px; margin-top: 40px;margin-left:5%;margin-right:5%; background-color: #f0ffff; padding: 8px;">
                                        <div class="Question" style="padding: 2%;">
                                            <span class="label label-warning"> @string.Format("{0}{1}.", "Q", count)</span>
                                            <span id="@string.Format("{0}{1}", "ID_Q", count)" style="display:none;">@item.quiz_question_id</span>
                                            <p style="display: inline; padding: 3%;" id="@string.Format("{0}{1}", "Q", count)">@item.question</p>
                                        </div>

                                        <div class="Choices" style="margin-left: 8%;margin-bottom:3%;">
                                            @foreach (var items in item.choicess)
                                            {
                                                <label class="radio-inline">
                                                    <span id="@string.Format("{0}{1}", "ID_C", count)" style="display:none;">@items.quiz_choice_id</span>

                                                    <input type="radio" name="@string.Format("{0}{1}", "inlineRadioOptions", count)" id="@string.Format("{0}{1}", "inlineRadio", countR)" value="@items.choices" style="margin-left: -16px;"> @items.choices

                                                </label><br />
                                                countR++;
                                            }
                                        </div> <!--END Choices-->

                                        <div id="@string.Format("{0}{1}{2}", "Ans", "Q", count)">


                                        </div>
                                    </div> <!-- END BlockQ -->
                                    count++;
                                }
                                <span id="countQuections" style="display:none;">@count</span>

                                <button type="button" id="SubmitQuiz" class="btn btn-primary" style="margin-top: 10px;"> Submit Quiz </button>

                            }
                        </div> <!-- END QUIZ -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script>


        $(document).ready(function () {

            $('#SubmitQuiz').on('click', function () {

                //count Questions
                var sel = $('#countQuections').text();

                console.log(sel);

                var resultQuiz = [], countQuestion = parseInt(sel), question = {}, j = 1;

                for (var i = 1; i < countQuestion; i++) {
                    question = {
                        quiz_ques_id: $('#ID_Q'+ i).text(),
                        quiz_choice_id: $('#ID_C' + i).text()
                        ,answer: $('input[name=inlineRadioOptions' + i + ']:checked').val()
                    }

                    resultQuiz.push(question);
                }
                debugger;

                resultQuiz = JSON.stringify({ 'quiz': resultQuiz});

                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'POST',
                    url: '@Url.Action("GetQuizQuestion", "AdmissionForm")',
                    data: resultQuiz,
                    success: function (response) {
                        if (response.qa.length > 0) {
                            var j = 1;
                            count = 0;
                            for (var i = 0; i < response.qa.length; i++) {
                                if (response.qa[i].Is_correct == true) {
                                    debugger;
                                    $('#AnsQ' + j).html('<div class="alert alert-success" role="alert"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Correct answer</div>');
                                    count++;
                                }

                                else {
                                    $('#AnsQ' + j).html('<div class="alert alert-danger" role="alert"> <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Incorrect answer - The Good Answer is <b>' + response.qa[i].answer + '</b></div>');
                                }
                                j++;
                            }
                            debugger;
                            swal("Congratulation!", "You marks is " + count, "success");
                        }
                        else {
                            alert("Something Wrong");
                        }
                    },

                    failure: function (response) {
                        alert(response);
                    }
                });
                console.log(resultQuiz);

            });



        });


        $(document).ready(function ()
        {

        $('#SubmitQuiz').click(function () {

            if ($("#SubmitQuiz").prop('disabled')) $("SubmitQuiz").prop('disabled', false);
        else $("#SubmitQuiz").prop('disabled', true);
        });
        })
    </script>



}
