@model FYP1.Models.Student.Student
@{
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}
<div class="admin-section-title">

    <h2>Student Profile</h2>

</div>

<form class="post-form-wrapper" action="/Student/StudentInfo" method="post">

    <div class="row gap-20">

        <div class="clear"></div>

        <div class="col-sm-6 col-md-4">

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="Student_Name" class="form-control py-2">
            </div>

        </div>

        <div class="col-sm-6 col-md-4">

            <div class="form-group">
                <label for="name">Father Name</label>
                <input type="text" id="name" name="Father_Name" class="form-control py-2 ">
            </div>
        </div>


        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                <label for="name">CNIC_No</label>
                <input type="text" id="name" name="CNIC_No" class="form-control py-2">
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="text" id="name" name="Email" class="form-control py-2">
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                <label for="Contact_No">Contact_No</label>
                <input type="number" id="name" name="Contact_No" class="form-control py-2">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">

            <div class="form-group">
                <label for="Contact_No">Nationality</label>
                <input type="text" id="name" name="Nationality" class="form-control py-2">
            </div>
        </div>

        <div class="clear"></div>

        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                <label for="Email">DOB</label>
                <input type="date" id="name" name="DOB" class="form-control py-2">
            </div>
        </div>

        <div class="col-sm-6 col-md-4">

            <div class="form-group">
                <label for="Start_Year">Start Year</label>
                <input type="number" id="name" name="Start_Year" class="form-control py-2">
            </div>

        </div>

        @*<div class="clear"></div>*@

        <div class="col-sm-6 col-md-4">

            <div class="form-group">
                <label for="Start_Year">Start_Year</label>
                <input type="number" id="name" name="End_Year" class="form-control py-2">
            </div>

        </div>

        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                <label for="Start_Year">State</label>
                @Html.DropDownList("State", ViewBag.State_List as SelectList, "--select--", new { @class = "form-control" })
            </div>
        </div>
        @*<div class="clear"></div>*@

        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                <label for="City">City</label>
                @Html.DropDownListFor(model => model.City_ID, new SelectList(""), "--select--", new { @class = "form-control py-2" })
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                <label for="name">Password</label>
                <input type="password" id="name" name="Password" class="form-control py-2 ">
            </div>
        </div>
        @*<div class="clear"></div>*@

        <div class="col-sm-6 col-md-4">

            <div class="form-group">
                <label for="Start_Year">Field</label>
                @Html.DropDownListFor(model => model.detail.Field_ID, ViewBag.Field_List as SelectList, "--select--", new { @class = "form-control py-2" })
            </div>

        </div>
        @*<div class="clear"></div>*@

        <div class="col-sm-12 col-md-4">

            <div class="form-group r">
                <label for="Start_Year">Degree</label>
                @Html.DropDownListFor(model => model.detail.DegreeLevel_ID,  ViewBag.DegreeLevel_List as SelectList, "--select--", new { @class = "form-control py-2" })
            </div>

        </div>

        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                <label for="Start_Year">Board</label>
                @Html.DropDownListFor(model => model.detail.Board_ID, ViewBag.Board_List as SelectList, "--select--", new { @class = "form-control py-2" })
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                <label for="Start_Year">CGPA</label>
                <input type="number" id="name" name="CGPA" class="form-control py-2">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                <label for="Start_Year">Percentage</label>
                <input type="number" id="name" name="Percentage" class="form-control py-2" step="0.01">
            </div>
        </div>


        <div class="clear"></div>
        <div class="col-sm-12 mt-10">
            <button class="btn btn-primary" type="submit">Save</button>
            <a href="#" class="btn btn-primary btn-inverse">Cancel</a>
        </div>
    </div>

</form>
@section Scripts {
    <script>


        $('#State').change(function () {
            var stateId = $('#State').val();
            $.ajax({
                url: '/Student/getdropdown',
                type: "GET",
                dataType: "JSON",
                data: { a: stateId },
                success: function (cities) {
                    $("#City_ID").html(""); // clear before appending new list
                    $.each(cities, function (i, city) {
                        $("#City_ID").append(
                            $('<option></option>').val(city.City_ID).html(city.City_Name));
                    });
                }
            });
        });




    </script>
}