@model IEnumerable<FYP1.Models.Institute.InstituteCampus>

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewBag.Title = "SearchInstituteCampus";
}



<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title"><b>Search Institute Campus</b></h4>
                        <p class="category">
                            <b>
                                @Html.ActionLink("Create New", "Addinstitutecampus")
                            </b>
                        </p>
                    </div>
                    <div class="card-content">

                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.InsCampus_ID)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Institute_Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.InsCampus_Area)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.InsCampus_Address)
                                </th>


                                <th>
                                    @Html.DisplayNameFor(model => model.InsCampus_EstablishYear)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.InsCampus_ID)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Institute_Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.InsCampus_Area)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.InsCampus_Address)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.InsCampus_EstablishYear)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "UpdateInstituteCampus", new { id = item.InsCampus_ID }) |
                                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
