@model IEnumerable<FYP1.Models.Pre_Req_Course>

@{

    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <h4 class="title"> <b>Pre Request Courses</b></h4>
                @if (Session["S_ID"] == null)
                {
                    <p class="category">@Html.ActionLink("Create New", "Add")</p>
                }
            </div>
            <div class="card-content table-responsive">
                <table class="table">
                    <tr>
                        <th>
                            PR Course Name
                        </th>
                        <th>
                            PR Course Duration
                        </th>
                        <th>
                            Degree Name 
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.PR_Course_Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PR_Course_Duration)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Degree_Name)
                            </td>
                            @if (Session["S_ID"] == null)
                            {
                                <td>

                                    @Html.ActionLink("Edit", "Edit", new { id = item.PR_Course_ID }) |
                                    @Html.ActionLink("Search", "Search", new { id = item.PR_Course_ID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.PR_Course_ID })
                                    }
                                </td>
                            }
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>